* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

.search-params form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-params form label {
  margin-right: 24px;
}

.search-params form input, .search-params form select {
  width: 100px;
  height: 24px;
  margin-left: 8px;
}

.bubble {
  stroke-width: 2px;
}